    body, html {
         width: 100%;
         height: 100%; 
         margin:0;
         font-family:"微软雅黑";
    }
    #r-result{
        position: absolute;
        top: 176px;
        left: 35px;
        width: 365px;
        height: 600px;
        overflow:auto;
    }  
    #r-result> table{
        width: 350px;
        height: 600px;
        box-shadow:1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
    }  
    #r-result > table::-webkit-scrollbar {
        overflow: hidden;
    }   
    #start{ 
        position: absolute;
        top: 50px;
        left: 35px;
        font-family: "micrsoft yahei"; 
        width: 350px;
        height: 35px;
        font-size: 12px; 
        line-height: 14px; 
        padding: 2px; 
        margin: 2px;
        border: none; 
        outline: none; 
        -webkit-appearance: none;
        padding-left: 10px;
        box-shadow:1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
    }
    #end{ 
        position: absolute;
        top: 90px;
        left: 35px;
        font-family: "micrsoft yahei"; 
        width: 350px;
        height: 35px;
        font-size: 12px; 
        line-height: 14px; 
        padding: 2px; 
        margin: 2px;
        border: none; 
        outline: none; 
        -webkit-appearance: none;
        padding-left: 10px;
        box-shadow:1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
    }
    .btn-group { 
        width: 100%; 
        border-top: 1px solid #DDD; 
        border-bottom: 2px solid #DDD;
    }
    #bus-search{
        position: absolute;
        top: 131px;
        left: 37px;
        width: 125px;
        height: 20px;
        text-align: center; 
        border: 0; 
        border-radius: 0; 
        background-color: #3e90f7; 
        height: 44px; 
        line-height: 44px; 
        font-size: 15px;
        outline: none;
        cursor: pointer;
    }  
    #driver-search{
        position: absolute;
        top: 131px;
        left: 160px;
        width: 130px;
        height: 20px;
        text-align: center; 
        border: 0; 
        border-radius: 0; 
        background-color: #3e90f7; 
        height: 44px; 
        line-height: 44px; 
        font-size: 15px;
        outline: none;
        cursor: pointer;
    }
    #walk-search{
        position: absolute;
        top: 131px;
        left: 285px;
        width: 115px;
        height: 20px;
        text-align: center; 
        border: 0; 
        border-radius: 0; 
        background-color: #3e90f7; 
        height: 44px; 
        line-height: 44px; 
        font-size: 15px;
        outline: none;
        cursor: pointer;
    }
    li{
        list-style:none;
    } 
    a{ 
        text-decoration:none; 
        color:#000; 
    }
    #allmap{
        height:100%;
    }
    #suggestId{
        width: 350px;
        height: 35px;
        border: none; 
        outline: none; 
        -webkit-appearance: none;
        padding-left: 10px;
        box-shadow:1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
    }
    #searchID{
        width: 60px;
        height: 37px;
        background-color: #3e90f7;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
        border: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
        float: right;
        color: #fff;
        font-size: 12px;
    }
    #navigation{
        width: 60px;
        height: 37px;
        background-color: #1890FF;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
        border: 0;
        padding: 0;
        margin: 5;
        outline: none;
        cursor: pointer;
        float: right;
        color: #fff;
        font-size: 12px;
    }
    #s-result{
        position: absolute;
        top: 95px;
        left: 35px;
        width: 360px;
        float: left;
        background-color: red;
    }
    #userAvatar > img{
        width: 45px;
        height: 45px;
        float:right;
        border-radius: 10px;
        position: absolute;
        top: 45px;
        right: 40px;
        box-shadow:1px 2px 1px rgba(0,0,0,.15);
        border-radius: 100px;
    }
    #chooseProject{
        width: 110px;
        height: 40px;
        background-color: #fff;
        position:absolute;
        top: 50px;
        right: 110px;
        cursor: pointer;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        border-radius: 0 2px 2px 0;
    }
    #chooseProject > img:first-child{
        position: relative;
        top: 12px;
        left: 10px;
        width: 16px;
        height: 16px;
    }#chooseProject > img:last-child{
        position: relative;
        top: 12px;
        right: -30px;
        width: 16px;
        height: 16px;
    }
    #chooseProject > p{
        position: relative;
        top: 9px;
        left: 15px;
        font-size: 14px;
    }
    #changeimg {
        position: relative;
        top: 9px;
        right: 10px;
    }
    #widget-menu{
        position:absolute;
        top: 80px;
        right: 110px;
    }
    #widget-menu > li{
        width: 110px;
        height: 40px;
        background-color: #fff;
    }
    #deviceInfo > img{
        position: relative;
        top: 12px;
        left: 10px;
        width: 16px;
        height: 16px;
    }
    #deviceInfo > a{
        position: relative;
        top: 9px;
        left: 12px;
        font-size: 14px;
        text-decoration:none;
        color: #000;
    }
    #weather > img{
        position: relative;
        top: 12px;
        left: 10px;
        width: 16px;
        height: 16px;
    }
    #weather > p{
        position: relative;
        top: 9px;
        left: 12px;
        font-size: 14px;
    }
    #MonitorInfo > img{
        position: relative;
        top: 12px;
        left: 10px;
        width: 17px;
        height: 17px;
    }
    #MonitorInfo > a{
        position: relative;
        top: 9px;
        left: 12px;
        font-size: 14px;
        text-decoration:none;
        color: #000;
    }
    